.Navbar {
  /* background: radial-gradient(#1f0e30 0%, #030016 40%) 0vw 20vh no-repeat
    #030016;

  filter: url("#noise") contrast(105%);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute; */
  /* ******* */
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 100; /* Ensure the navigation bar is on top of other content */
}
.header-one {
  font-size: 40px; /* Increase the font size for the heading */
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  display: flex;
  align-items: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 10px;
  font-size: 25px;
  margin-right: 50px;
}
.no-underline {
  text-decoration: none;
}

.content {
  margin-top: 70px; /* Add margin to prevent content from being hidden under the navbar */
  padding: 20px;
}

.about-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.about-header {
  color: hotpink;
  z-index: 1;
  text-align: center;
}
.about-paragraph {
  color: hotpink;
  text-align: center;
  margin: auto;
  width: 750px;
  padding: 40px;
}
/* *********Background******* */

:root {
  background: radial-gradient(#1f0e30 0%, #030016 40%) 0vw 20vh no-repeat
    #030016;

  filter: url("#noise") contrast(105%);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
