.Navbar {
  background-color: #28282b;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 100; /* Ensure the navigation bar is on top of other content */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  display: flex;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 10px;
}

.content {
  margin-top: 70px; /* Add margin to prevent content from being hidden under the navbar */
  padding: 20px;
}
